<!-- header.component.html -->
<header class="app-header">
  <div class="header-left">

    <div class="logo">

      <!--Mobile menu option here-->
      <!-- <div class="mobile-toggle" (click)="toggleMobileMenu()">
        <i class="fas fa-bars"></i>
 
      </div> -->

      <img src="assets/icons/Projexpert.png" alt="">
    </div>

    <nav class="main-nav" *ngIf="canActivateNavbar()">
      <ul>

        <li class="dropdown">
          <a (click)="toggleWorkspaceMenu(); $event.stopPropagation() ">
            Workspaces <i class="fas fa-chevron-down"></i>
          </a>
          <div class="dropdown-content" *ngIf="showWorkspaceMenu">
            <div class="dropdown-header">Workspaces</div>
            <a *ngFor="let workspace of currentUser?.workSpaces">
              <!--(click)="selectWorkspace(workspace) Need to give this in the above tag"-->
              {{workspace?.name}}
            </a>
            <div class="dropdown-divider"></div>
            <a (click)="createNewWorkspace()" *ngIf="canCreateWorkspace" class="create-new">
              <i class="fas fa-plus-circle"></i> Create Workspace
            </a>
          </div>
        </li>

        <li class="dropdown">
          <a (click)="toggleProjectsMenu(); $event.stopPropagation() ">
            Projects <i class="fas fa-chevron-down"></i>
          </a>
          <div class="dropdown-content" *ngIf="showProjectMenu">
            <div class="dropdown-header">Your Projects</div>
            <a *ngFor="let project of availableProjects" (click)="selectProject(project._id)">

              {{project?.name}}
            </a>
            <div class="dropdown-divider"></div>
            <!-- <a (click)="createNewWorkspace()" class="create-new">
              <i class="fas fa-plus-circle"></i> Create New Project
            </a> -->
          </div>
        </li>
        <!-- <li class="dropdown">
          <a>
            Plans <i class="fas fa-chevron-down"></i>
          </a>
        </li> -->
      </ul>
    </nav>
  </div>

  <div class="header-right">
    <div class="current-workspace">
      <div class="workspace-icon">{{currentUser?.name?.charAt(0)?.toUpperCase()}}</div>
      <div class="workspace-info">
        <div class="workspace-name">{{ currentUser?.name }}</div>
        <div class="workspace-subtitle">{{ currentWorkspace?.name}}</div>
      </div>
    </div>

    <div class="header-icons">


      <div class="notification-wrapper" #wrapper>
        <button class="icon-button" (click)="toggleDropdown()">
          <i class="far fa-bell"></i>
          <span class="notification" *ngIf="notificationCount > 0">{{ notificationCount }}</span>
        </button>

        <div class="notification-dropdown" *ngIf="isDropdownOpen">

          <div *ngIf="notificationCount > 0" class="mark-all-read" (click)="markAllAsRead()">
            <p>
              <i class="fas fa-check-double"></i> Mark all as read
            </p>
          </div>

          <ul>
            <li *ngIf="notificationCount == 0">No new notifications</li>
            <li [ngClass]="note.read == false ? 'unread' : ''" *ngFor="let note of notifications">{{ note.message }}
            </li>
            <li *ngIf="notifications.length > 10" (click)="markAllAsRead(true)">Remove all notifications</li>
          </ul>
        </div>
      </div>



      <button class="icon-button">
        <i class="far fa-question-circle"></i>
      </button>
      <button class="icon-button" (click)="toggleUserMenu()">
        <!-- <img [src]="currentUser.avatar" alt="User avatar" class="user-avatar"> -->
        <i class="fas fa-cog"></i>
      </button>
      <div class="user-menu">
        <div class="user-dropdown" *ngIf="showUserMenu">
          <div class="user-dropdown-header">
            <div class="user-info">
              <div class="user-name">{{ currentUser?.name }}</div>
              <div class="user-email">stephen.williamsexample.com</div>
            </div>
          </div>
          <div class="dropdown-divider"></div>
          <a href="javascript:void(0)">Profile Settings</a>
          <a href="javascript:void(0)">Account Settings</a>
          <a href="javascript:void(0)">Subscription Plan</a>
          <div class="dropdown-divider"></div>
          <a class="logout" (click)="logout()">Log Out</a>
        </div>
      </div>
    </div>
  </div>
</header>