.app-container {
    display: flex;
    flex-direction: column;
    /* height: ; */
    background-color: var(--background-color);
    color: #ffffff;
}

.main-content {
    display: flex;
    flex: 1;
    overflow: hidden;
    padding: 20px;
}

.select-project {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: lightslategray;
}

.no-data-icon {
    font-size: 48px;

}

.board-container {
    flex: 1;
    overflow-y: auto;
    padding-left: 20px;
}

.sprint-container {
    max-height: 50vh;
    overflow-y: auto;
    overflow-x: hidden;
    margin-bottom: 20px;

    scrollbar-width: thin;
    scrollbar-color: #888 #f0f0f0;
}


