<app-loader [isLoading]="isLoading"></app-loader>

<div class="app-container">
    <!-- <app-backlog-header></app-backlog-header> -->

    <div class="main-content" *ngIf="isProjectSelected">
        <app-epics [epics]="epics"></app-epics>
        <div class="board-container backlog-content">

            <div class="sprint-container" *ngIf="sprints.length > 0">
                <app-sprint *ngFor="let sprint of sprints ; trackBy:trackBySprintId" [sprint]="sprint"
                    [allSprintIds]="sprintIds" (itemDropped)="handleDrop($event)"></app-sprint>
            </div>
            <app-create-backlog [backlogs]="backlogs" [allSprintIds]="sprintIds"
                (sprintCreated)="onSprintCreated($event)"></app-create-backlog>
        </div>
    </div>


    <div class="select-project" *ngIf="!isProjectSelected">
        <div class="no-data-icon">
            <i class="fas fa-folder-open"></i>
        </div>
        <h3>Please select a project</h3>
    </div>

</div>