<div class="issue-row" id="{{ issue._id }}">

    <label class="checkbox-container" id="{{issue._id}}">
        <input (change)="updateSelectionStatus(issue._id)" type="checkbox" />
    </label>

    <div class="issue-details">

        <!-- Issue Type Badge -->
        <div class="issue-type" [ngClass]="getTypeClass()" (click)="taskDetails()">
            {{ issue.type }}
        </div>

        <!-- Issue Title -->
        <div class="issue-title">
            {{ issue.title }}
        </div>

        <i class="fas fa-sitemap" *ngIf="issue.subtasks?.length && issue.subtasks.length  > 0"
            (click)="taskDetails(true)"></i>

    </div>


    <!-- Spacer -->
    <div class="flex-spacer"></div>

    <!-- Epic details -->
    <div class="epic-detail" *ngIf="epic !==null">
        {{epic.title}}
        <div *ngIf="epic.status === 'done'">D</div>
    </div>

    <!-- Spacer -->
    <!-- <div class="flex-spacer"></div> -->

    <!-- Status Dropdown -->
    <div class="status-container" *ngIf="canShowStatusDropdown">
        <select [(ngModel)]="issue.status" class="status-select " [ngClass]="getStatusClass()"
            (change)="onStatusChange(issue.status)">
            <option class="{{defaultStatus}}" value="todo">To Do</option>
            <option class="{{defaultStatus}}" value="in-progress">In Progress</option>
            <option class="{{defaultStatus}}" value="done">Done</option>
        </select>
    </div>


    <select class="point-input" [(ngModel)]="issue.storyPoints" (change)="updateStoryPoint($event)">
        <option *ngFor="let p of fibo" [value]="p">{{ p }}</option>
    </select>


    <div class="assignee-container" [ngClass]="getAssigneeLabel(issue) ==='!' ?'danger' : ''">
        <span>{{getAssigneeLabel(issue)}}</span>
    </div>

    <!-- Assign Button -->

    <div class="assignee-wrapper">

        <button class="assign-button" (click)="toggleAssigneeDropdown()">
            <span class="plus-icon">+</span>
        </button>


        <div *ngIf="isDropdownOpen" class="assignee-dropdown">
            <input type="text" [(ngModel)]="searchText" placeholder="Search team member..." class="search-input" />

            <ul class="member-list">
                <li (click)="assignIssueTo('')">Remove Assignee</li>
                <li *ngFor="let member of filteredMembers()" (click)="assignIssueTo(member)">
                    <div class="member-info">
                        <div class="email">{{ member.email }}</div>
                        <div class="role">{{ member.role.name }}</div>
                    </div>
                </li>
            </ul>
        </div>

    </div>


</div>