<div class="change-password-page">
    <div class="change-password-container">
        <h2>Change Your Password</h2>

        <form #form="ngForm" class="change-pswd-form">
            <div class="password-section">

                <mat-form-field appearance="fill" class="full-width password-field">
                    <mat-label>Old Password</mat-label>
                    <input matInput [(ngModel)]="oldPassWord" [ngModelOptions]="{ updateOn: 'change' }" type="password"
                        name="oldPassWord" required #oldPassWordField="ngModel" (ngModelChange)="onPasswordChange()" />
                    <mat-error *ngIf="oldPassWordField.errors?.['required']">
                        Old Password Required
                    </mat-error>
                </mat-form-field>

                <mat-form-field appearance="fill" class="full-width password-field">
                    <mat-label>New Password</mat-label>
                    <input matInput [(ngModel)]="passWord" [ngModelOptions]="{updateOn : 'change'}" type="password"
                        minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$"
                        name="passWord" required #passWordField="ngModel" (ngModelChange)="onPasswordChange()" />
                    <mat-error *ngIf="passWordField.errors?.['required']">Password Required</mat-error>
                    <mat-error *ngIf="passWordField.errors?.['minlength']">Minimum 6 characters</mat-error>
                    <mat-error *ngIf="passWordField.errors?.['pattern']">Must include uppercase, lowercase, number,
                        special character</mat-error>
                </mat-form-field>

                <p class="errorMsg" >{{errorMsg}}</p>
            </div>

            <div class="action-buttons">
                <button mat-button class="logout-btn" type="button" (click)="logOut()">Go Back</button>
                <button mat-raised-button color="primary" class="save-btn" [disabled]="form.invalid" type="button"
                    (click)="onSave()">Save</button>
            </div>
        </form>
    </div>
</div>