<app-loader [isLoading]="isLoading"></app-loader>

<div class="kanban-container">

    <app-content-header [headerConfig]="headerConfig" (searchQuery)="handleSearchEvent($event)"
        (buttonClicked)="handlebuttonClick($event)"></app-content-header>

    <div class="board" *ngIf="viewChanger('board')">

        <div class="kanban-column" id="todo" cdkDropList #todoList="cdkDropList" [cdkDropListData]="todoTasks"
            [cdkDropListConnectedTo]="[inProgressList, doneList]" (cdkDropListDropped)="onDrop($event)">
            <div class="board-header">
                <h3>TO DO ({{ todoTasks.length }})</h3>
            </div>
            <div class="board-tasks">
                <app-task-card *ngFor="let task of todoTasks | search :searchQuery: ['title']" [task]="task" cdkDrag
                    [cdkDragData]="task" (taskUpdation)="handleTaskUpdationEvent($event)"></app-task-card>
            </div>
        </div>

        <div class="kanban-column" id="in-progress" cdkDropList #inProgressList="cdkDropList"
            [cdkDropListData]="inProgressTasks" [cdkDropListConnectedTo]="[todoList, doneList]"
            (cdkDropListDropped)="onDrop($event)">
            <div class="board-header">
                <h3>IN PROGRESS ({{ inProgressTasks.length }})</h3>
            </div>

            <div class="board-tasks">
                <app-task-card *ngFor="let task of inProgressTasks | search :searchQuery: ['title']" cdkDrag
                    [cdkDragData]="task" [task]="task" (taskUpdation)="handleTaskUpdationEvent($event)"></app-task-card>
            </div>
        </div>

        <div class="kanban-column" id="done" cdkDropList #doneList="cdkDropList" [cdkDropListData]="doneTasks"
            [cdkDropListConnectedTo]="[todoList, inProgressList]" (cdkDropListDropped)="onDrop($event)">
            <div class="board-header">
                <h3>DONE ({{ doneTasks.length }})</h3>
            </div>

            <div class="board-tasks">
                <app-task-card *ngFor="let task of doneTasks | search :searchQuery: ['title']" cdkDrag
                    [cdkDragData]="task" [task]="task" (taskUpdation)="handleTaskUpdationEvent($event)"></app-task-card>
            </div>
        </div>

    </div>

    <div class="sprintreport-container" *ngIf="viewChanger('sprint_report')">

        <div class="left">

            <div class="make-center" *ngIf="!selectedSprint">
                <p style="align-items: center;">Try changing sprint from dropdown!</p>
            </div>

            <div class='graph' *ngIf="selectedSprint">
                <canvas baseChart [data]="lineChartData" [options]="lineChartOptions" [type]="'line'">
                </canvas>

            </div>
        </div>

        <div class="right">

            <div class="make-center" *ngIf="!selectedSprint">
                <p style="align-items: center;">Try changing sprint from dropdown!</p>
            </div>

            <div *ngIf="selectedSprint">
                <!-- Header -->
                <div class="sprint-header">
                    <h2>Sprint Goal: {{selectedSprint.goal || ''}}</h2>
                    <p><strong>Start Date:</strong> {{selectedSprint.startDate | date:'MMM d, y'}} &nbsp; | &nbsp;
                        <strong>Updated:</strong> {{selectedSprint.updatedAt | date:'MMM d, y'}}
                    </p>
                    <p><strong>Started By:</strong> {{sprintCreatedBy}}</p>
                </div>

                <!-- Metrics -->
                <div class="sprint-section grid">
                    <div class="card">
                        <h3>{{selectedSprint.plannedPoints}}</h3>
                        <p>Planned Points</p>
                    </div>
                    <div class="card">
                        <h3>{{selectedSprint.completedPoints}}</h3>
                        <p>Completed Points</p>
                    </div>
                    <div class="card">
                        <h3>{{spillOver}}</h3>
                        <p>Spilled Over</p>
                    </div>
                </div>

                <div class="sprint-section grid">
                    <div class="card">
                        <h3>{{completedTasksCount.tasks}}</h3>
                        <p>Tasks Done</p>
                    </div>
                    <div class="card">
                        <h3>{{completedTasksCount.story}}</h3>
                        <p>Stories Done</p>
                    </div>
                    <div class="card">
                        <h3>{{completedTasksCount.bugs}}</h3>
                        <p>Bugs Fixed</p>
                    </div>
                </div>

                <div class="sprint-section grid">
                    <div class="card">
                        <h3>{{selectedSprint.velocity}}</h3>
                        <p>Velocity</p>
                    </div>
                    <div class="card">
                        <h3>{{selectedSprint.velocitySnapshot}}</h3>
                        <p>Velocity Snapshot</p>
                    </div>
                </div>

                <!-- Footer -->
                <div class="footer">
                    <p><em>Report generated automatically at sprint completion.</em></p>
                    <!-- <button>See Challenges</button> -->
                </div>

                <div class="description">
                    <p><strong>Description:</strong>
                        {{selectedSprint.description}}
                    </p>
                </div>

            </div>

        </div>

    </div>

</div>