<div class="chat-main">
    <div *ngIf="isChatOpened" class="chat-header">
        <div>
            <div class="name">{{reciever ? reciever.email : ''}}</div>
            <div class="status">{{isUserOnline ? 'Online' : ''}}</div>
        </div>
        <div class="icons">

            <span class="video-call-icon" title="Start Video Call" (click)="openVideoChat()">
                <i class="fas fa-video"></i>
            </span>

            <span class="icon more-options">
                <i class="fas fa-ellipsis-v"></i>
            </span>
        </div>
    </div>

    <div class="messages" #messagesContainer>

        <div class="start-chat" *ngIf="messages.length === 0">
            <div class="start-chat-msg">
                <i class="fa-solid fa-comments chat-icon"></i>
                <span>Start conversation</span>
            </div>
        </div>


        <div class="message" *ngFor="let message of messages" [ngClass]="{
    'right': message.senderId === currentUser?._id,
    'left': message.senderId !== currentUser?._id
  }">

            <div class="message-p">
                <i class="fas fa-video" *ngIf="message?.type === 'call'"></i>
                <div>
                    <p>{{message.message}}</p>
                    <span *ngIf="message?.type === 'call'">
                        {{message.callStatus === 'missed' && message.senderId === currentUser?._id ? 'No Answer' :
                        message.callStatus}}</span>
                </div>
            </div>

            <span>{{message.createdAt | date:'h.mm a'}}</span>
        </div>
        <!-- <div class="typing">typing...</div> -->
    </div>

    <div *ngIf="isChatOpened" class="input-area">

        <!-- <span class="icon media-icon"><i class="fas fa-paperclip"></i></span> -->
        <input [(ngModel)]="messageText" (keydown.enter)="sendMessage()" type="text" placeholder="Type a message..." />
        <button class="send-button" type="button" (click)="sendMessage()">
            <i class="fas fa-paper-plane"></i>
        </button>


    </div>


</div>