<div class="sprint-section">
  <div class="section-header">
    <div class="header-left">
      <button class="collapse-button">
        <i class="fa fa-chevron-down"></i>
      </button>
      <h3>{{ sprint.name}}</h3>
      <button class="add-dates-button">
        <i class="fa fa-calendar"></i>
        Add dates
      </button>
      <span class="issue-count">({{ issueCount }} issues)</span>
    </div>
    <div class="header-right">
      <div class="assignee-indicators">
        <div class="assignee-circle blue"></div>
        <div class="assignee-circle green"></div>
      </div>
      <span class="count">0</span>
      <button class="start-sprint-button" *ngIf="sprint.status === 'not-started'" (click)="startSprint()" >Start sprint</button>
      <button class="start-sprint-button" *ngIf="sprint.status === 'active'" (click)="completeSprint()" >Complete sprint</button>
      <button class="more-options-button">
        <i class="fa fa-ellipsis-h"></i>
      </button>
    </div>
  </div>

  <div [id]="'sprint-' + sprint._id" class="sprint-content" cdkDropList [cdkDropListData]="filteredIssuesShallow"
    [cdkDropListConnectedTo]="connectedDropListIds" (cdkDropListDropped)="onDrop($event)">

    <div class="empty-state" *ngIf="isIssueInSprint">
      <h3>Plan your sprint</h3>
      <p>Plan a sprint by dragging work items into it.</p>
    </div>

    <app-issue-row *ngFor="let task of filteredIssuesShallow" [issue]="task" cdkDrag [cdkDragData]="task"
      (idFromIssueRow)="handleDropdown($event)" (assign)="handleIssued($event)"
      (seletedIssueResponse)="handleSelectedIssue($event)" [openIdFromBacklog]="currentDivId"></app-issue-row>

    <app-create-issue-button [from]="issueCreationButton"></app-create-issue-button>

  </div>
</div>