<div class="subscription-list-container">

  <app-content-header [headerConfig]="headerConfig" (searchQuery)="handleSearchEvent($event)"
    (buttonClicked)="handlebuttonClick($event)"></app-content-header>


  <!-- Plans Content -->
  <div class="plans-content">

    <div *ngIf="isLoading" class="loading">
      <!-- <i class="fas fa-spinner fa-spin"></i> Loading plans... -->
    </div>

    <div *ngIf="!isLoading && subscriptions.length === 0" class="no-results">
      <div class="no-data-icon">
        <i class="fas fa-box-open"></i>
      </div>
      <h3>No plans found</h3>
      <p>Try adjusting your search criteria</p>
      <button class="btn btn-primary mt-3" (click)="openCreatePlanDialog()">
        Create New Plan
      </button>
    </div>

    <!-- Grid View -->
    <div *ngIf="!isLoading && viewMode === 'grid'" class="plans-grid">
      <div *ngFor="let plan of subscriptions" class="plan-card">
        <div class="plan-header">
          <h3 class="plan-name">{{ plan.name }}</h3>
          <label class="toggle-switch">
            <input type="checkbox" [checked]="plan.isActive" (change)="onToggleChange($event,plan)" />
            <span class="slider"></span>
          </label>
        </div>
        <div class="plan-price">
          {{ plan.price | currency: 'INR' }} / {{ plan.billingCycle }}
        </div>

        <div class="plan-info">
          <div class="plan-item">
            <span class="plan-label">Max Workspace:</span>
            <span>{{ plan.maxWorkspace }}</span>
          </div>
          <div class="plan-item">
            <span class="plan-label">Max Projects:</span>
            <span>{{ plan.maxProjects }}</span>
          </div>
          <div class="plan-item">
            <span class="plan-label">Max Members:</span>
            <span>{{ plan.maxMembers }}</span>
          </div>
          <!-- <div class="plan-item">
            <span class="plan-label">Video Call:</span>
            <span>{{ plan.canUseVideoCall ? 'Allowed' : 'Not Allowed' }}</span>
          </div> -->
        </div>
        <p class="plan-description">{{ plan.description || 'No description available.' }}</p>
        <div class="plan-actions">
          <button class="icon-action danger" (click)="deletePlan($event, plan)">
            <i class="fas fa-trash-alt"></i>
          </button>
        </div>



      </div>
    </div>

    <!-- List View -->
    <div *ngIf="!isLoading && viewMode === 'list'" class="plans-list">
      <table class="plans-table">
        <thead>
          <tr>
            <th>Plan Name</th>
            <th>Price</th>
            <th>Interval</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let plan of subscriptions">
            <td>{{ plan.name }}</td>
            <td>{{ plan.price | currency: 'INR' }}</td>
            <td>{{ plan.billingCycle }}</td>
            <td>
              <div class="table-actions">
                <button class="icon-action danger" (click)="deletePlan($event, plan)">
                  <i class="fas fa-trash-alt"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>


  <app-pagination [currentPage]="currentPage" [totalPages]="totalPages"
    (pageChanged)="onPageChange($event)">></app-pagination>


</div>