<div [class.displayEpic]="!isHidden" (click)="hideEpics()">
    <span class="epic-label">Epic</span>
    <span class="epic-count">{{ epicCount }}</span>
    <span class="expand-icon">▶</span>
    <br>
</div>
<div class="sidebar" [class.displayEpic]="isHidden">

    <div class="epic-header">
        <div>
            <h2>Epic</h2>
            <select name="epic-view" [(ngModel)]="epicView" (change)="updateCheckStatus(null, $event)"
                id="epic-toggler">
                <option value="active" selected>Active</option>
                <option value="compelted">Completed</option>
            </select>
        </div>
        <button class="close-button" (click)="hideEpics()">×</button>
    </div>

    <div class="epic-list">
        <div *ngFor="let epic of epics | activeEpic:epicView" class="epic-item"
            [class.selected]="epic === selectedEpic">

            <div class="epic-item-header">
                <div class="epic-item-namepart">
                    <span class="expand-icon fas" (click)="toggleEpicDetails(epic)"
                        [ngClass]="isEpicExpanded(epic._id) ? 'fa-chevron-down' : 'fa-chevron-right'"></span>
                    <input class="epic-color" type="checkbox" (change)="updateCheckStatus(epic._id, $event)">
                    <span class="epic-title" (click)="toggleEpicDetails(epic)">{{ epic.title }}</span>

                </div>

                <!-- <button class="icon-action danger" (click)="deleteProject($event, epic._id)">
                    <i class="fas fa-trash-alt"></i>
                </button> -->
            </div>
            <div class="epic-details" [ngClass]="{'expanded': isEpicExpanded(epic._id)}" id="{{epic._id}}">
                <div class="date-info">
                    <div class="date-row">
                        <span class="date-label">Start Date</span>
                        <span class="date-value">{{(epic?.startDate | date: 'mediumDate') || null }}</span>
                    </div>
                    <div class="date-row">
                        <span class="date-label">End Date</span>
                        <span class="date-value">{{(epic?.endDate | date: 'mediumDate') || null }} </span>
                    </div>
                </div>
                <button class="view-details-button" (click)="createOrUpdateEpic(epic)">View all details</button>
            </div>

        </div>
    </div>

    <button class="create-epic-button" (click)="createOrUpdateEpic()">
        Create Epic
    </button>
</div>