.table-container {

  padding: 24px;
  margin: auto;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.subscription-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #2c2c2c;
  border-radius: 8px;
  overflow: hidden;
}

.subscription-table th,
.subscription-table td {
  padding: 0.75rem 1rem;
  text-align: left;
  border-bottom: 1px solid #2c2c2c;
}

.subscription-table th {
  background-color: #2a2a2a;
  color: #bdbdbd;
  font-weight: bold;
}

.subscription-table tr:hover {
  background-color: #2d2d2d;
}

.subscription-table td.plan {
  text-transform: uppercase;
  font-weight: 600;
}

.subscription-table td.active {
  color: #66bb6a;
  font-weight: bold;
}

.subscription-table td.canceled {
  color: #ef5350;
  font-weight: bold;
}

.subscription-table td.past_due {
  color: #ffa726;
  font-weight: bold;
}

.company{
  display: flex;
  flex-direction: column;
}
.company .email{
  font-weight: lighter;
  color: var(--dark-gray);
  font-size: small;
}