<div class="dashboard-container">


    <!-- Summary Cards -->
    <div class="summary-cards">
        <div class="card" *ngFor="let card of summaryCards">

            <!-- <div class="card-header" [ngClass]="'card-color-' + card.color">
            <i class="fas {{card.icon}}"></i>
          </div> -->

            <div class="card-body">
                <h2 class="card-count">{{card.count}}</h2>
                <div class="card-label">{{card.label}}</div>
                <div class="card-sublabel">{{card.sublabel}}</div>
            </div>
        </div>
    </div>

    <div class="graph">

        <div class='bar-graph'>
            <canvas baseChart [data]="{ labels: barChartLabels, datasets: barChartData }" [options]="barChartOptions"
                [type]="'bar'"> </canvas>
        </div>

        <div class="doughnut-graph">
            <canvas baseChart [data]="doughnutChartData" [options]="doughnutChartOptions" [type]="'doughnut'">
            </canvas>
        </div>

    </div>

    <div class="middle-data">

        <div class="section">
            <h3>Top 5 Companies <span>(On current year subscription)</span></h3>

            <ul class="company-list">
                <li *ngFor="let company of top5Companies">
                    <span class="name">{{company.companyName}}</span>
                    <span class="dots"></span>
                    <span class="amount">{{company.totalAmount}}</span>
                </li>
            </ul>

        </div>

        <div class="section">
            <h3>Largest Employer<span>(Included all companaies)</span></h3>

            <ul class="company-list">

                <li *ngFor="let data of largestEmployer">
                    <span class="name">{{data.companyName}}</span>
                    <span class="dots"></span>
                    <span class="amount">{{data.employerCount}}</span>
                </li>

            </ul>

        </div>

        <div class="section">
            <h3></h3>
        </div>

    </div>


</div>