.sidebar {
    width: 250px;
    background-color: var(--background-color);

    color: white;
    padding-top: 1rem;
    transition: transform 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    border-right: 1px solid var(--text-color);

    z-index: 100;

}

.side-top{
    display: flex;
    align-items:center;
    justify-content: flex-end;
    width: 100%;
}


.sidebar-toggle{

    cursor: pointer;
    background-color: rgb(92, 92, 92);
    color: black;
    padding: 1px 10px;
    border-radius: 100%;
    margin-left: 30px;

}



.current-project {
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-project span {
    color: var(--dark-gray);
    padding-left: 1rem;
    font-family: Arial, Helvetica, sans-serif;

}

.current-project i {
    color: var(--secondary-color)
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li {
    padding: 0.5rem;
}

.sidebar a {
    color: white;
    text-decoration: none;
}

.sideMenuPanel {
    margin-top: 1rem;
}

.sideList a {

    display: flex;
    align-items: center;
    padding: 0.4rem;
    border-radius: 5px;

}

.sideList a span {
    margin-left: 1rem;
}

.sideList a:hover {
    background-color: var(--secondary-color);
    color: var(--background-color);
}




@media (max-width: 768px) {
    .sidebar {

        top: 0;
        left: 0;
        bottom: 0;
        transform: translateX(-75%);
        z-index: 100;
    }

    .sidebar.open {
        transform: translateX(0);
    }
}