<div class="task-card">
  <div class="task-title">{{ task.title }}</div>
  <div class="task-details">
    <span class="tag" [class.task]="task.type === 'task'" [class.bug]="task.type === 'bug'"
      [class.story]="task.type === 'story'">{{ task.type }}</span>
    <span class="ticket">{{ daysLeft }}</span>
  </div>
  <div class="task-meta">
    <span>{{ endDate | date }} </span>
    <span class="flag" [class.red]="task.priority === 'critical'" [class.orange]="task.priority === 'high'"
      [class.yellow]="task.priority === 'medium'" [class.green]="task.priority === 'low'" *ngIf="task.priority"></span>
    <span *ngIf="task.status === 'done'">✔</span>
  </div>
</div>