.overlay {
  position: fixed;
  top: 60px;
  right: 0;
  left: 250px;
  min-width: calc(100vw - 250px);
  height: calc(100vh - 60px);
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;

  transition: left 0.3s ease;
}

.spinner {
  width: 120px;
  height: 120px;
  border: 10px solid #202020;
  border-top: 10px solid var(--secondary-color);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.collapsed {
  right: 0;
  left: 70px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}