<div class="header-section">
    <div class="header-content">
        <div class="header-title">
            <h1>{{headerConfig.icon}}{{headerConfig.title}}</h1>
            <p class="header-subtitle">{{headerConfig.subtitle}}</p>

            <!-- Search and Filter Section -->
            <div class="controls-section" *ngIf="!headerConfig.hideSearchBar">
                <div class="search-container">
                    <input type="text" class="search-input" placeholder="{{headerConfig.placeHolder}}"
                        [formControl]="searchControl">
                    <div class="search-icon">🔍</div>
                </div>
            </div>

        </div>


        <div class="button-area">

            <ng-container *ngIf="getButton('main')">
                <button class="main-button" *ngIf="!buttonHasPermission('main')" (click)="onButtonClick('main')">
                    <i class="icon-plus"></i>
                    {{getButton('main')?.label}}
                </button>
            </ng-container>

            <div class="filter-actions">
                <div class="status-filters" *ngIf="getButton('filter')">
                    <button class="filter-btn" [class.active]="statusFilters.active"
                        *ngIf="!buttonHasPermission('filter')" (click)="onButtonClick('filter','active')">
                        Active
                    </button>
                    <button class="filter-btn" [class.active]="statusFilters.completed"
                        *ngIf="!buttonHasPermission('filter')" (click)="onButtonClick('filter','completed')">
                        Completed
                    </button>
                    <button class="filter-btn" [class.active]="statusFilters.archived"
                        *ngIf="!buttonHasPermission('filter')" (click)="onButtonClick('filter','archived')">
                        Archived
                    </button>
                </div>

                <div class="datePicker" *ngIf="custom">
                    <div class="field">
                        <label for="startDate">Start Date</label>
                        <input type="date" [(ngModel)]="startDateValue" id="startDate" class="date-input" />
                    </div>

                    <div class="field">
                        <label for="endDate">End Date</label>
                        <input type="date" [(ngModel)]="endDateValue" id="endDate" class="date-input" />
                    </div>
                </div>


                <div class="filtering-area" *ngIf="getButton('radio')">

                    <div class="status-filters">

                        <button class="filter-btn" *ngIf="!custom" [class.active]="filter==='year'"
                            (click)="onButtonClick('radio','year')">
                            Yearly
                        </button>
                        <button class="filter-btn" *ngIf="!custom" [class.active]="filter==='month'"
                            (click)="onButtonClick('radio','month')">
                            Monthly
                        </button>
                        <button class="filter-btn" [class.active]="filter==='custom'"
                            (click)="onButtonClick('radio','custom')">
                            Custom
                        </button>

                    </div>

                    <button *ngIf="custom" (click)="onButtonClick('radio','date')">Apply</button>

                </div>

                <div class="view-toggle" *ngIf="getButton('view')">
                    <button class="toggle-btn" [class.active]="viewMode === 'grid'" *ngIf="!buttonHasPermission('view')"
                        (click)="onButtonClick('view','grid')">
                        <i class="fas fa-th-large"></i>
                    </button>
                    <button class="toggle-btn" [class.active]="viewMode === 'list'" *ngIf="!buttonHasPermission('view')"
                        (click)="onButtonClick('view','list')">
                        <i class="fas fa-list"></i>
                    </button>
                </div>
            </div>


        </div>




    </div>



</div>