<div class="dialog-container">

    <h2 mat-dialog-title class="modal-title">Start Sprint</h2>

    <form [formGroup]="sprintForm" (ngSubmit)="onSave()">
        <mat-dialog-content class="modal-content">

            <!-- Sprint Name -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sprint Name</mat-label>
                <input matInput formControlName="sprintName" placeholder="e.g. Sprint Alpha" />
                <!-- <mat-error *ngIf="sprintForm.get('sprintName')?.hasError('required')">
                    Sprint name is required
                </mat-error> -->
            </mat-form-field>

            <!-- Sprint Goal -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Sprint Goal</mat-label>
                <input matInput formControlName="sprintGoal" placeholder="Oneline of the final sprint result." />
                <mat-error *ngIf="sprintForm.get('sprintGoal')?.hasError('required')">
                    Sprint Goal is required
                </mat-error>
            </mat-form-field>


            <!-- Duration -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Duration (in days)</mat-label>
                <input matInput type="number" formControlName="duration" placeholder="e.g. 14" />
                <mat-error *ngIf="sprintForm.get('duration')?.hasError('required')">
                    Duration is required
                </mat-error>
            </mat-form-field>

            <!-- Start Date -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Start Date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="startDate" placeholder="Pick a date" />
                <mat-hint>Format: MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker color="accent"></mat-datepicker>
                <mat-error *ngIf="sprintForm.get('startDate')?.hasError('required')">
                    Start date is required
                </mat-error>
            </mat-form-field>

            <!-- Sprint Description -->
            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Description</mat-label>
                <textarea matInput formControlName="description" placeholder="Give additional details here." rows="4">
                </textarea>
            </mat-form-field>

        </mat-dialog-content>

        <mat-dialog-actions align="end" class="modal-actions">
            <button mat-button type="button" (click)="onCancel()" class="cancel-button">Cancel</button>
            <button mat-flat-button color="primary" type="submit" class="save-button" [disabled]="sprintForm.invalid">
                Save
            </button>
        </mat-dialog-actions>
    </form>
</div>