<!-- sidebar.component.html -->
<aside class="sidebar" [ngClass]="{'collapsed-sidebar': isCollapsed, 'mobile-open': isMobileMenuOpen}">


  <div class="side-top">

    <a class="current-project" *ngIf="!isPlatformAdmin()">

      <div class="project-icon" [ngClass]="{'project-selected-icon':isProjectSelected}">
        <h3>{{isProjectSelected ?currentProjectName.charAt(0).toLocaleUpperCase() : 'N' }}</h3>
      </div>

      <p *ngIf="!isCollapsed" [ngClass]="{'project-selected-text' : isProjectSelected}"> {{currentProjectName ||
        'Select a project'}}</p>
    </a>

    <div class="sidebar-toggle" (click)="toggleSidebar()">
      <i class="fas" [ngClass]="isCollapsed ? 'fa-angle-right' : 'fa-angle-left'"></i>
    </div>

  </div>

  <div class="sideMenuPanel">

    <ul class="nav-menu">

      <li class="sideList" *ngFor="let item of menuItems" (click)="setActiveItem(item)">
        <a [routerLink]="item.route" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
          <i class="fas {{item.icon}}"></i>
          <span class="menu-label" *ngIf="!isCollapsed">{{item.label}}</span>
        </a>
      </li>

    </ul>

  </div>

</aside>