.layout {
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--background-color);

}

.main-content {
  flex-grow: 1;
  display: flex;


}

.content {
  flex-grow: 1;
  padding: 1rem;
  overflow-y: auto;

}
