/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


:root {

    --primary-color: #002147;
    --secondary-color: #FFCC00;
    --text-color: #333;
    --light-gray: #f5f5f5;
    --medium-gray: #e0e0e0;
    --dark-gray: #666;
    --background-color: #18181B;
    --darkish-gray: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: 'Poppins', sans-serif;
    color: var(--text-color);
    line-height: 1.6;
}

.make-center {
    width: 100%;
    ;
    display: flex;
    align-items: center;
    justify-content: center;
    ;
}


.errorMsg {
    color: red;
    font-weight: lighter;
    font-size: small;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}



/* Darken the background behind the dialog */
.custom-backdrop {
    background-color: #001630 !important;
    z-index: 1000 !important;
}

/* Style the modal panel itself */
.custom-password-modal {
    border-radius: 8px;
    padding: 20px;
    /* background-color: #fff; */
    max-width: 400px;
    width: 100%;
}


.toast,
.toast-success,
.toast-error,
.toast-warning,
.toast-info {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6) !important;
    border-radius: 6px;
}