/* pagination.component.css */
.pagination-container {
  display: flex;
  justify-content: center;
  padding: 16px;
}

.pagination {
  display: flex;
  list-style: none;
  gap: 6px;
  padding: 0;
  margin: 0;
}

.pagination li {
  cursor: pointer;
  padding: 1px 12px;
  border-radius: 8px;
  background-color: var(--secondary-color);
  transition: all 0.2s ease;
  user-select: none;
}

.pagination li:hover {
  background-color: #e0e0e0;
}

.pagination li.active {
  background-color: var(--secondary-color);
  color: white;
  font-weight: bold;
}

.pagination li.disabled {
  pointer-events: none;
  color: white;
  background-color: var(--logo-color);
}
